#dropdown
{
    font-family: 'Kdam Thmor Pro', sans-serif;;
}
#myh2
{
    font-family: 'Kdam Thmor Pro', sans-serif;
}
#form
{
    margin-top: 25px;  
}
#upload
{
  border: 3px rgb(94, 89, 89) dashed;
  border-radius: 10px;
  height: 300px;
  width: 500px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                  url("../../Photos/upload.jpg");
  background-repeat: no-repeat;
  background-size: 500px 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#file
{
    margin-top: 250px;
    margin-left: 10px;
}