#h21
{
    font-family:monospace;
    margin-top: 50px;
    border: 3px rgb(94, 89, 89) solid;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
#h22
{
    font-family: monospace;
    margin-top: 40px;
    border: 3px rgb(94, 89, 89) solid;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#h23
{
    font-family: monospace;
    margin-top: 40px;
    border: 3px rgb(94, 89, 89) solid;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}